/* リセットCSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section,
aside,
hgroup,
header,
footer,
main,
nav,
figure {
    display: block;
}

html {
    font-size: 100%;
}

img {
    display: block;
    border: none;
    max-width: 100%;
}

ul li,
ol li {
    list-style-type: none;
}

a {
    color: #5c5d60;
    text-decoration: none;
    transition: all 1s;
}

.sp {
    display: none;
}

body {
    font-family: 'Cormorant Infant', 'Taviraj', 'Noto Serif JP', serif;
    color: #5c5d60;
    background-color: #FFFBF7;
    font-size: 18px;
    letter-spacing: 0.1em;
}
h2 {
    width: 200px;
    height: 100px;
    border-radius: 120px 120px 0 0;
    background: #525D36;
    display: inline-block;
    font-size: 34px;
    color: #FFFBF7;
    padding-top: 24px;
    margin-bottom: 70px;
    letter-spacing: 0.1em;
}
h2>span {
    display: block;
    font-size: 16px;
}
/* ヘッダーのスタイル */

/* 背景の模様設定-------------------------
----------------------------------- */

header {
    position: relative;
    width: 100%;
    height: 70vh;
    background: -moz-linear-gradient(top,rgba(238,228,227,1), rgba(238,228,227,0.9) 60%, rgba(255,251,247,0.4));
    background: -webkit-linear-gradient(top,rgba(238,228,227,1) , rgba(238,228,227,0.9) 60%, rgba(255,251,247,0.4));
    background: linear-gradient(to bottom,rgba(238,228,227,1) , rgba(238,228,227,0.9) 60%, rgba(255,251,247,0.4));
    position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* ピンク花のイメージ */
.whiteflower3 {
    position: absolute;
    top: -10px;
    left: -130px;
    z-index: 10;
}
/* 葉っぱ */
.reaf {
    position: fixed;
    top: 0;
    right: -81px;
    z-index: 5;
    transition:all 1s;
}

/* もくじ-------------------------
----------------------------------- */

nav {
    position: fixed;
    top: 50px;
    right: 30px;
    z-index: 5;
    font-size: 30px;
}

nav li {
    text-align: right;
    padding: 0 0 31px 0;
}

nav li a {
    color: #fcd389;
    position: relative;
    z-index: 10;
}

nav li a::before {
    content: "";
    width: 80px;
    height: 7px;
    background-color: #BA8B84;
    position: absolute;
    top: 21px;
    right: -13px;
    z-index: -1;
    opacity: 0;
    transition: .3s ease-in;
}

nav li:hover a::before {
    opacity: 1;
    transition: .3s ease-in;
}

nav li:hover a {
    -webkit-text-stroke: 1px #fcd389;
    color: rgba(0, 0, 0, 0);
    transition: .3s ease-in;
}
/* タイトル設定 -----------------
----------------------------*/
#title {
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: 10;
}

#subtitle {
    position: absolute;
    top: 260px;
    left: 600px;
    z-index: 9;
}

/* 背景の装飾と全体の設定-----------------
---------------------------- */
main {
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.whiteflower4{
    width: 150px;
    position: fixed;
    top: 200px;
    left: 20px;
    transform: rotate(180deg);
    z-index: -1;
} 
.flower3 {
    width: 60px;
    position: fixed;
    bottom: 60px;
    right: 80px;
    transform: rotate(40deg);
    z-index: 1;
}
section {
    width: 1000px;
    margin: 150px auto 0 auto;
}
/* ごあいさつ-----------------
---------------------------- */
#coment {
    width: 65%;
    margin: 0 0 0 auto;
    font-size: 20px;
    line-height: 2.4em;
    color: #5c5d60;
    text-align: left;
}
/* 制作物紹介-----------------------
----------------------------------- */

.container ul {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
}

.container li {
    width: 30%;
    padding-bottom: 50px;
    font-size: 18px;
}

.container li img {
    margin-bottom: 20px;
    border-radius: 25px;
    border: 1px solid #BA8B84;
}

.banner {
    background-color: #FFFBF7;
    width: 300px;
    height: 164px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.container li:nth-child(5) img {
    border-radius: 0;
    margin-bottom: 0;
}

/* ホバー時の設定 ------------------------
---------------------------------------*/
figure span.mask {
    position: relative;
    transition: .4s ease-in-out;
    display: block;
    line-height: 0;
}

figure:hover span.mask::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(238, 228, 227, 0.3), rgba(238, 228, 227, 0.9) 60%, rgba(255, 251, 247, 0.2));
    border-radius: 25px;
}

figure:hover span.mask2::before {
    border-radius: 0;
}

figure:hover img {
    opacity: 0.6;
}

figure span.cap {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    transition: .5s ease-in-out;
    color: #242C15;
    font-size: 22px;
    line-height: 1.5;
}

figure:hover span .cap {
    opacity: 1;
}

/* ボタンの設定--------------------
------------------------------ */

.buttum a {
    color: #FFFBF7;
    padding: 30px 115px;
    border-radius: 25px;
    background-color: #BA8B84;
    margin-top: 30px;
    position: relative;
    display: inline-block;
    transition: all 0.7s;
}

.buttum a::before,
.buttum a::after {
    content: "";
    display: inline-block;
    width: 33px;
    height: 1px;
    background: #FFFBF7;
}

.buttum a::before {
    position: absolute;
    top: 42px;
    left: 58px;
}

.buttum a::after {
    position: absolute;
    top: 42px;
    right: 58px;
}

.buttum a:hover {
    background: -moz-linear-gradient(left, rgba(219, 157, 47, 1), rgba(255, 251, 247, 0.4)),url(../00-3_common/image/aboutbackground.png);
    background: -webkit-linear-gradient(left, rgba(219, 157, 47, 1), rgba(255, 251, 247, 0.4)), url(../00-3_common/image/aboutbackground.png);
    background: linear-gradient(to right, rgba(219, 157, 47, 1), rgba(255, 251, 247, 0.4)), url(../00-3_common/image/aboutbackground.png);

}



/* 自分について---------------------
---------------------------------- */


#About figure {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 50px auto;
}

#About figure img {
    border-radius: 25px;

}

#About figure figcaption {
    width: 68%;
    line-height: 2em;
}

#About figure:hover img {
    opacity: 1;
}

/* フッター---------------------
---------------------------------- */

footer {
    margin-top: 70px;
    background-image: url(../00-3_common/image/footer.png);
    position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
}

.footer-inner {
    padding-top: 170px;
    text-align: center;
}

.footer-inner h3 {
    color: #FFFBF7;
    font-size: 38px;
    padding-bottom: 70px;
}

.footer-inner p {
    color: #FFFBF7;
    padding-bottom: 30px;
    line-height: 2em;
}

/* スクロールトップ設定--------------
------------------------------- */
.PageTop {
    margin: 70px auto 0 auto;
    display: block;
    content: "";
    width: 49px;
    height: 4px;
    background-color: #FFFBF7;
    position: relative;
}

.PageTop::after {
    content: "";
    border-bottom: 23px solid #FFFBF7;
    border-right: 24px solid transparent;
    border-left: 24px solid transparent;
    position: absolute;
    top: 7px;
    left: 0;
    z-index: 10;
}

/* コピーライツ設定--------------
------------------------------- */
.copy p {
    position: relative;
    margin-top: 70px;
    padding-bottom: 10px;
}