/* アニメーション-------------------------- */

.fadeInTrigger,
.fadeDownTrigger,
.fadeLeftTrigger,
.fadeRightTrigger {
opacity: 0;
}
/* その場で出現 */
.fadeIn {
    animation-name:fadeInAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity:0;  
}
@keyframes fadeInAnime{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* 上から下へ */
.fadeDown{
animation-name:fadeDownAnime;
animation-duration:1.8s;
animation-fill-mode:forwards;
opacity:0;
}
@keyframes fadeDownAnime{
    from {
    opacity: 0;
    transform: translateY(-60px)
    }

    to {
    opacity: 1;
    transform: translateY(0px) rotate(15deg);
    }
}
/* 上から下へ ver2*/
.fadeDown2 {
    animation-name:fadeDown2Anime;
    animation-duration:1.5s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    @keyframes fadeDown2Anime{
        from {
        opacity: 0;
        transform: translateY(-60px)
        }
    
        to {
        opacity: 1;
        transform: translateY(0px) rotate(10deg);
        }
    }

/* 右斜め上から左下へ */
.fadeRight{
    animation-name:fadeRightAnime;
    animation-duration: 1.5s;
    animation-fill-mode:forwards;
    }
    
    @keyframes fadeRightAnime{
        from {
        transform: translate(60px , -60px);
        }
    
        to {
        transform: translateX(0);
        }
    }

    .move {
        transform: translate(100px , -40px);
        transition:all 1s;
        z-index: 4;
    }

/* 右から左へ */
.LeftToRight{
    animation-name:LeftToRightAnime;
    animation-duration: 4s;
    animation-fill-mode:forwards;
    }
    
    @keyframes LeftToRightAnime{
        from {
        transform: translateX(-1000px);
        }
    
        to {
        transform: translateX(0);
        }
    }


    /* ----ふわふわ効果--------- */
    .flip1 {
        animation-name: flip1Anime;
        animation-duration: 7s;
        animation-iteration-count: infinite;
    }
    @keyframes flip1Anime{
        0% {
            transform: translate(0);
        }
        40% {
            transform: translate(13px, 13px) rotate(10deg);
        }
        60% {
            transform: translate(-8px, -8px) rotate(-deg);
        }
        100% {
            transform: translate( 0px,0px) rotate(0deg);
        }
    }

/* ズーム効果 */
    .zoom{
        animation-name:zoomAnime;
        animation-duration:1.8s;
        animation-fill-mode:forwards;
        opacity:0;
    }
        
    @keyframes zoomAnime{
        0% {
        filter: blur(10px);
        transform: scale(0.2);
        }
        40% {
            filter: blur(5px);
            transform: scale(2.5);
            }
    
        100% {
        filter: blur(0);
        transform: scale(1);
        opacity:1;
        }
    }
    

    /* アニメーションの開始を遅らせる*/

        .delay-time05{
        animation-delay: 0.5s;
        }
        
        .delay-time1{
        animation-delay: 1s;
        }
        
        .delay-time15{
        animation-delay: 1.5s;
        }
        
        .delay-time2{
        animation-delay: 2s;
        }
        
        .delay-time25{
            animation-delay: 2.5s;
        }
        .delay-time4{
            animation-delay: 4s;
        }

